.advantages {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.advantages-icon-list {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: unset;
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.advantages-icon-list__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.advantages-icon-list__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.advantages-icon-list__item:not(:first-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
  }
}

.advantages-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  // width: 270px;
  // height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-text-list__item {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

.advantages-text-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages-text-list__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
