.footer-contact {
  margin-bottom: 60px;
}

.footer-contact__maps {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  // margin-bottom: 9px;
}

.footer-contact__mail {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  // margin-bottom: 9px;
}

.footer-contact__tel {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
