.header-contacts {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-contacts__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel__icon {
  margin-right: 10px;
  fill: currentColor;
}
