.will-join {
  margin-bottom: 60px;
  // margin-left: 70px;
}

.will-join__text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  // margin-bottom: 10px;
}

.will-join-social-list {
  display: flex;
  justify-content: center;
  // width: 206px;
  // height: 80px;
}

.will-join-social__item:not(:last-child) {
  margin-right: 10px;
}

.will-join-social__link {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
