.footer-contact__maps {
  font-style: normal;
  width: 231px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 9px;
}

.footer-contact__mail {
  width: 231px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;
}

.footer-contact__tel {
  width: 231px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
