.advantages {
  padding-bottom: 60px;
  padding-top: 60px;
  // padding-bottom: 94px;
  // padding-top: 94px;
}

.advantages-icon-list {
  display: flex;
  margin-bottom: 30px;
  .advantages-icon-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-text-list__item {
  margin-top: 30px;
}

.advantages-text-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text-list__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
